body {
  background-color: white;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  /*Same as above*/
  font: normal 16px arial, helvetica, sans-serif;

  line-height: 1.6em;
  margin: 0;
}

a{
  text-decoration: none;
  color:purple
}

a:hover{
  color: red;
}

a:active{
  color: green;
}


/*need to make test page*/
  
.container {
  width: 85%;
  margin: auto;
}

.button{
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
}

.button:hover{
  background: red;
  color: white;
}
  
.clr{
  clear: both;
}

.box-1 {
  background-color: #333;
  color: #fff;

  border-right: 5px blue solid;
  border-left: 5px blue solid;
  border-top: 5px blue solid;
  border-bottom: 5px blue solid;
  
  border-width: 3px;
  border-bottom-width: 10px;
  border-top-style: dotted;
  /*Same as above because short form below overrides*/
  border: 5px blue solid;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  /*Same as above because short form below overrides*/

  padding: 20px;

  margin-top: 20px;
  margin: 20px 0;
  /*Margin top and bottom but 0 left and right*/
}

.box-1 h1{
    font-family: tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration:underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2 h1{
font-weight: 1000;
text-align: end;
}

.box-2{
  background-color: lightskyblue;
  color: black;
  border: 3px dotted black;
    padding: 20px;
    margin: 20px 0;
}

.categories{
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding: 10;
    list-style:square ;
    color: white;
}

.categories li{
  padding-bottom: 6px;
  border-bottom: dotted 1px white;
  list-style-image: url('../images/check.png');
}

.my-form{
  padding: 20px;
} 

.my-form .form-group{
  padding-bottom: 15px;
}

.my-form label{
  display: block;
}

.my-form input[type=text],.my-form textarea{
  padding: 8px;
  width: 100%;
}

.my-form input [type=text]{
padding: 8px;
width: 100%;
}

.block{
  float: left;
  width: 33.3%;
  border: 1px  grey solid;
  padding: 10px;
  box-sizing: border-box;
}

#main-block{
  float: left;
  width: 70%;
  padding: 15px;
  box-sizing: border-box;
}

#sidebar{
  float: right;
  width: 30%;
  background-color: grey;
  color: white;
  padding: 15px;
  box-sizing: border-box;
}

.p-box{
  width: 800px;
  height: 500px;
  border: 1px solid #000;
  margin-top: 30px;
  position: relative;
  background-image:url(../Images/bgimage.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.p-box h1{
  position: absolute;
  top: 40px;
  left: 80px;
}

.p-box h2{
  position: absolute;
  bottom: 40px;
  right: 40px;
  }

.fix-me{
  position: fixed;
  top: 400px;
}

.my-list li:first-child{
  background: red;
}

.my-list li:last-child{
  background: blue;
}

.my-list li:nth-child(5){
  background: yellow;
}

.my-list li:nth-child(even){
  background: grey;
}